@model MvcProject.ViewModels.AlunoCursoVM

@{
    ViewData["Title"] = "Realizar Inscrição";
}

<h2>Realizar Inscrição para o curso de @Model.NomeCurso</h2>

<div class="row">
	@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.Partial("_Form", Model)
	}
</div>

